* {
  box-sizing: border-box;
  margin: 0;
}

.jumbo {
  background: url('/img/desk2.jpg') center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  border-radius: 0;
  display: flex; 
}

.jumbo-inner {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-self: center;
  /* border: 1px solid black; */
  border-radius: 3px;
  padding: 20px;
  background-color: rgba(0,0,0, 0.4);
  /* justify-content: center; */
  
  /* margin: 85px auto 0 auto; */
  /* padding: 40px 30px;  */
}

.skills {
  margin: 50px auto;
}